/* variables */
$black: #000000;
$white: #FFFFFF;
$grey: #ADADAD;
$grey-white: #CCCCCC;
$storm-grey: #747880;
$wine: #8E1600;

/* fonts */
@font-face {
  font-family: LeMondeJournal;
  src: url(../fonts/lemonde-journal.woff2);
}

@font-face {
  font-family: Metropolis-Thin;
  src: url(../fonts/Metropolis-Thin.otf);
}


/* Global Styles */
html, body {
  font-family: LeMondeJournal, serif;
  font-size: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* text details */
article {
  line-height: 1.45;
  margin: 10px 20%;
}

aside {
  float: right;
  color: $storm-grey;
  width: 200px;
  font-style: italic;
}

aside blockquote {
  margin-top: 10px;
  border-left: 1px solid $storm-grey;
  margin-left: 20px;
  padding-left: 20px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-size: 108%;
}
/* images and video */

img, video {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

figure, header {
  background-color: $black;
  margin: 0;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 100%;
}

figcaption {
  position: absolute;
  bottom: 8px;
  width: calc(100% - 10px);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0px;
  color: $grey-white;
  font-size: 1.8em;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  // -webkit-transition: opacity .5s ease-in-out;
  // -moz-transition: opacity .5s ease-in-out;
  // -o-transition: opacity .5s ease-in-out;
  // transition: opacity .5s ease-in-out;
}

/* header */
#header-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: $white;
  font-family: Metropolis-Thin, serif;
}
#header {
  font-size: 2em;
}

/* footer */ 

footer {
  height: 200px;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey;
  margin-top: 20px;
  border-top: $wine solid 2px;
}

footer img {
  width: 80px;
  height: auto;
}