/* variables */


$black: #000000;
$white: #FFFFFF;

/* Global Styles */
@font-face {
    font-family: Metropolis-Thin;
    src: url(../fonts/Metropolis-Thin.otf);
}
@font-face {
    font-family: Nikoleta;
    src: url(../fonts/nikoleta.otf);
}

@font-face {
    font-family: WickedGrit;
    src: url(../fonts/WickedGrit.ttf);
}

@font-face {
    font-family: Prata-Regular;
    src: url(../fonts/Prata-Regular.ttf);
}
@font-face {
    font-family: Modern219;
    src: url(../fonts/modern-219.woff2);
}

@font-face {
    font-family: LeMondeJournal;
    src: url(../fonts/lemonde-journal.woff2);
}


html, body {
    color: $white;
    font-family: LeMondeJournal, georgia, serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
}

img, video {
  max-width: 100%;
}


/* Video Overlay */

#overlay {
    height:100%;
    left:0;
    position:relative;
    top:0;
    transition:background-color 300ms ease;
    width:100%;
}

.fade { background-color:rgba(0,0,0,.85) !important; }


/* Hero Video + Fallback */

#hero-vid {
    backface-visibility:hidden;
    background:url("../images/video-cover.jpg") no-repeat scroll 0 0 #000;
    background-size:cover;
    bottom:0;
    height:auto;
    min-height:100%;
    min-width:100%;
    perspective:1000;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1;
    max-width: unset;
}

#hero-pic {
    display:block;
    height:auto;
    width:100%;
}

#state {
    bottom:0;
    cursor:pointer;
    font-size:2.25rem;
    left:0;
    line-height:1;
    padding:2rem 2.5rem 1.65rem;
    position:absolute;
}


/* Content Styles */

#title {
    backface-visibility:hidden;
    z-index: 4;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    top: initial;
    bottom: 2em;
    font-family: Metropolis-Thin;
}

#title .byline {
    font-size: 0.8em;
}
#title h1 {
    font-size: 4 rem;
    padding: 1rem 1.75rem;
    margin: 0;
    font-weight: 100;
}


#content {
    background: $white;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0;
    left: 0;
}

#content #main p {
    font-size:1.25rem;
    letter-spacing:.02rem;
    margin-bottom:1.3rem;
    color: $black;
    margin-left: 100px;
    margin-right: 100px;
}

#menu ul {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    overflow: hidden;
    color: $white;
    display: flex;
    font-family: Modern219, sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    display: none;
}

#menu ul li:not(:last-child) {
    margin-right: 10px;
}

#menu ul li {
    cursor: pointer;
}
footer {
    background: $black;
    position: absolute;
    width: 100%;
}

.video-container {
    width:100%;
    max-width: 100%;
    height: 100vh; 
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-image {
    background: url('../images/loy-yang.JPG');
    width:100%;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
        color: $white;
        text-shadow: 1px 1px $black;
    }
}

footer p {
    padding-left:10px;
    font-size: 0.6em;
}

/* images */ 

#vermont {

}

/* Media Queries */

@media only screen and (max-width:768px) {
    #overlay { height:auto; }
}


/* Visibility Helpers */

@media only screen and (min-width:769px) {
    .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
    #menu
    {
        background: rgba(0,0,0,0.55);
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,
    .hidden-tablet,
    .visible-desktop
        {
            display:none !important;
        }

}

@media only screen and (max-width:768px) {
    #menu
        {
           background: $black;
        }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
}