/* variables */


$black: #000000;
$white: #FFFFFF;

/* Global Styles */
@font-face {
    font-family: LeituraNews;
    src: url(../fonts/LeituraNewsRoman1.otf);
}

html,body {
    color: $white;
    font-family: georgia,"times new roman",times,serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
}

img, video {
    max-width: 100%;
  }


/* Video Overlay */

#overlay {
    height:100%;
    left:0;
    position:relative;
    top:0;
    transition:background-color 300ms ease;
    width:100%;
}

.fade { background-color:rgba(0,0,0,.85) !important; }


/* Hero Video + Fallback */

#hero-vid {
    backface-visibility:hidden;
    background:url("http://www.markhillard.com/sandbox/media/polina.jpg") no-repeat scroll 0 0 #000;
    background-size:cover;
    bottom:0;
    height:auto;
    min-height:100%;
    min-width:100%;
    perspective:1000;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1;
    max-width: unset;
}

#hero-pic {
    display:block;
    height:auto;
    width:100%;
}

#state {
    bottom:0;
    cursor:pointer;
    font-size:2.25rem;
    left:0;
    line-height:1;
    padding:2rem 2.5rem 1.65rem;
    position:absolute;
}


/* Content Styles */

#title {
    backface-visibility:hidden;
    z-index: 4;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    top: initial;
    bottom: 2em;
    font-family: LeituraNews;
    text-shadow: 1px 1px #888;
}

#title .byline {
    font-size: 0.8em;
}
#title h1 {
    font-size: 2.5rem;
    padding: 1rem 1.75rem;
    margin: 0;
    font-weight: 100;
}


#content {
    background: $white;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0;
    left: 0;
}

#content #main p {
    font-size:1.25rem;
    letter-spacing:.02rem;
    margin-bottom:1.3rem;
    color: $black;
    margin-left: 100px;
    margin-right: 100px;
}

#menu ul {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    overflow: hidden;
    color: $white;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
}

#menu ul li:not(:last-child) {
    margin-right: 10px;
}

#menu ul li {
    cursor: pointer;
}
footer {
    background: $black;
    position: absolute;
    width: 100%;
}

.image-caption {

}

.article-image {
    background: url('../images/vermont.png');
    width:100%;
    /* Full height */
    height: 100vh; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer p {
    padding-left:10px;
    font-size: 0.6em;
}
/* Media Queries */

@media only screen and (max-width:768px) {
    #overlay { height:auto; }
}


/* Visibility Helpers */

@media only screen and (min-width:769px) {
    .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
    #menu
    {
        background: rgba(0,0,0,0.55);
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,
    .hidden-tablet,
    .visible-desktop
        {
            display:none !important;
        }

}

@media only screen and (max-width:768px) {
    #menu
        {
           background: $black;
        }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
}