/* variables */
/* fonts */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif+Caption|PT+Serif:400,700|Poppins");
/*
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'PT Serif Caption', serif;
  font-family: 'Poppins', sans-serif;
*/
/* Global Styles */
html, body {
  font-family: 'PT Serif', serif;
  font-size: 100%;
  font-size: 1.1em;
  color: #001030;
  width: 100%;
  margin: 0;
  padding: 0; }

.hidden {
  display: none !important; }

/* text details */
article {
  line-height: 1.45;
  margin: 10px 20%; }

h1 {
  color: #624C37;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.3em;
  line-height: 1em; }

aside {
  float: right;
  color: #7BA0BE;
  width: 50%;
  font-size: 1.2em;
  font-style: italic; }

aside blockquote {
  margin-top: 10px;
  border-left: 1px solid #7BA0BE;
  margin-left: 20px;
  padding-left: 20px; }

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; }

/* images and video */
figure.wash img,
figure.wash video {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%; }

figure.wash, header {
  background-color: #000000;
  margin: 0 0 10px 0;
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

figure.wash {
  height: 110%; }

figure.wash img {
  width: 100%;
  height: 100%; }

figure.wash figcaption {
  position: absolute;
  bottom: 20px;
  padding-left: 29px;
  padding-top: 6px;
  padding-bottom: 5px;
  right: 0px;
  font-size: 0.8em;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'PT Sans', sans-serif;
  text-align: right;
  padding-right: 15px; }

figure.wash .fig-quote {
  position: absolute;
  top: 12%;
  right: 40px;
  font-size: 1.25em;
  width: 20%;
  color: #DDDDDD;
  font-family: 'PT Sans', sans-serif;
  font-style: italic; }

.article-image figcaption {
  color: #7BA0BE;
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 0.8em; }

.article-image {
  width: 310px;
  float: left;
  margin: 5px 10px 5px 10px;
  cursor: pointer; }

.article-image img {
  width: 100%;
  height: auto; }

.right {
  float: right; }

@media only screen and (max-width: 768px) {
  .article-image,
  aside {
    width: 100%; } }

/* header */
header {
  background-image: url("../images/header-splash.png"); }

#header-text {
  position: absolute;
  bottom: 8px;
  right: 16px;
  margin-top: 0px;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif; }

#header {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

#header-byline {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  text-align: right; }

/* share panel */
#share {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9em; }

#share-link {
  cursor: pointer;
  padding: 2px; }

#share-link:hover {
  background: rgba(255, 255, 255, 0.4); }

#share-panel {
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  font-size: 0.8em; }

#share-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; }

#share-panel li {
  margin-top: 5px;
  cursor: pointer; }

a.share {
  color: inherit;
  text-decoration: none; }

/* interview */
figure.interview {
  margin: 0;
  width: 100%;
  display: flex;
  min-height: 105vh;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; }

figure.interview figcaption {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.interview .video-container video {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down; }

.interview .video-container,
.interview figcaption {
  width: 50%; }

.interview figcaption {
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-family: 'PT Serif', serif;
  font-size: 1.32em; }

.interview figcaption .quote {
  font-size: 1.1em;
  font-weight: 600;
  font-style: italic; }

@media only screen and (max-width: 768px) {
  .interview .video-container {
    min-height: 45vh;
    width: 100%; }
  .interview figcaption {
    width: 90%; }
  figure.interview {
    flex-direction: column; }
  .interview video {
    object-fit: cover; } }

/* nav */
nav {
  padding: 20px 0 20px; }

nav ul#episode-list {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  font-family: 'PT Serif', serif;
  color: #962E47;
  text-align: right; }

nav h1 {
  margin-left: 20%;
  margin-right: 20%; }

nav div.thumb {
  float: none;
  padding-left: 0; }

div.thumb img {
  height: auto;
  width: 100%; }

nav li {
  list-style-type: none;
  margin: 1rem auto;
  background-color: #fff;
  max-width: 100%;
  box-shadow: 0 2px 2px #DDDDDD;
  width: 9.5rem; }

nav h6.episode-kicker {
  font-size: 0.6em;
  padding: 1em 1em 0 0;
  font-family: 'Poppins', sans-serif; }

nav h2.episode-title {
  font-size: 0.85em;
  padding: 0 1em 0 0; }

@media only screen and (max-width: 768px) {
  nav li {
    width: 100%; }
  nav ul#episode-list {
    flex-direction: column;
    margin: 20px; } }

/* map */
.map {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0; }

.map h1 {
  margin: 10px 20%; }

.map-pane {
  width: 100%;
  height: 90%; }

/* footer */
footer {
  height: 200px;
  background: #001030;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DDDDDD;
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.6em;
  border-top: #962E47 solid 2px;
  text-align: center; }

footer ul.sharing {
  list-style-type: none;
  font-size: 1.6em;
  display: flex; }

footer li {
  display: block;
  margin-left: 7px;
  width: 20px; }
