/* variables */
/* fonts */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|PT+Serif+Caption|PT+Serif:400,700|Poppins");
/*
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'PT Serif Caption', serif;
  font-family: 'Poppins', sans-serif;
*/
/* Global Styles */
html, body {
  font-family: 'PT Serif', serif;
  font-size: 100%;
  font-size: 1.1em;
  color: #001030;
  width: 100%;
  margin: 0;
  padding: 0; }

.hidden {
  display: none !important; }

/* text details */
article {
  line-height: 1.45;
  margin: 10px 20%; }

h1 {
  color: #624C37;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.3em;
  line-height: 1em; }

aside {
  float: right;
  color: #7BA0BE;
  width: 50%;
  font-size: 1.2em;
  font-style: italic; }

aside blockquote {
  margin-top: 10px;
  border-left: 1px solid #7BA0BE;
  margin-left: 20px;
  padding-left: 20px; }

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; }

.references {
  font-size: 0.6em; }

/* images and video */
figure.wash video {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%; }

header {
  min-height: 100vh; }

figure.wash {
  min-height: 110vh; }

figure.wash, header {
  background-color: #000000;
  margin: 0 0 10px 0;
  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center; }

figure.wash figcaption {
  position: absolute;
  bottom: 20px;
  padding-left: 29px;
  padding-top: 6px;
  padding-bottom: 5px;
  right: 0px;
  font-size: 0.8em;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.64);
  font-family: 'PT Sans', sans-serif;
  text-align: right;
  padding-right: 15px; }

figure.wash .fig-quote {
  position: absolute;
  top: 12%;
  right: 40px;
  font-size: 1.25em;
  width: 20%;
  color: #DDDDDD;
  font-family: 'PT Sans', sans-serif;
  font-style: italic; }

.article-image figcaption {
  color: #7BA0BE;
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 0.8em; }

.article-image {
  width: 310px;
  float: left;
  margin: 5px 10px 5px 10px;
  cursor: pointer; }

.article-image img {
  width: 100%;
  height: auto; }

.right {
  float: right; }

@media only screen and (max-width: 768px) {
  .article-image,
  aside {
    width: 100%; } }

/* header */
header {
  background-image: url("../images/header-splash.jpg");
  color: #FFFFFF; }

header.history {
  background-image: url("../images/header-splash-history.jpg"); }

header.transition {
  background-image: url("../images/header-transition.jpg"); }

header.politics {
  background-image: url("../images/header-splash-politics.jpg"); }

#header-text {
  position: absolute;
  bottom: 8px;
  right: 16px;
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif; }

#header {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

#header-byline {
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  text-align: right; }

/* share panel */
#share {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9em; }

#share-link {
  cursor: pointer;
  padding: 2px;
  font-size: 0.8em; }

#share-link:hover {
  background: rgba(255, 255, 255, 0.64); }

#share-panel {
  display: flex;
  background: rgba(255, 255, 255, 0.64);
  font-size: 0.8em; }

#share-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; }

#share-panel li {
  margin-top: 5px;
  cursor: pointer; }

a.share {
  color: inherit;
  text-decoration: none; }

/* interview */
figure.interview {
  margin: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap; }

figure.interview figcaption {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.interview .video-container video {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down; }

.interview .video-container,
.interview figcaption {
  margin-right: 20%;
  margin-left: 20%; }

.interview figcaption {
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-family: 'PT Serif', serif;
  font-size: 1.32em; }

.interview figcaption .quote {
  font-size: 1.1em;
  font-weight: 600;
  font-style: italic; }

@media only screen and (max-width: 768px) {
  .interview .video-container {
    min-height: 45vh;
    width: 100%; }
  .interview figcaption {
    width: 90%; }
  figure.interview {
    flex-direction: column; }
  .interview video {
    object-fit: cover; } }

/* nav */
nav {
  padding: 20px 0 20px; }
  nav ul#episode-list {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    font-family: 'PT Serif', serif;
    color: #962E47;
    text-align: right; }
  nav h1 {
    margin-left: 20%;
    margin-right: 20%; }
  nav div.thumb {
    float: none;
    padding-left: 0; }
  nav div.thumb img {
    height: auto;
    width: 100%; }
  nav li {
    list-style-type: none;
    margin: 1rem auto;
    background-color: #fff;
    max-width: 100%;
    box-shadow: 0 2px 2px #DDDDDD;
    width: 9.5rem;
    position: relative;
    cursor: pointer; }
    nav li .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .25s ease;
      background-color: #DDDDDD; }
    nav li p {
      color: #962E47;
      font-family: 'Poppins', sans-serif;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      font-size: 0.7em; }
    nav li h6.episode-kicker {
      font-size: 0.6em;
      padding: 1em 1em 0 0;
      font-family: 'Poppins', sans-serif;
      text-decoration: underline #962E47;
      color: #962E47; }
    nav li h2.episode-title {
      font-size: 0.85em;
      padding: 0 1em 0 0;
      color: #962E47;
      text-decoration: underline #962E47; }
  nav li.coming-soon:hover .overlay {
    opacity: 0.95; }

@media only screen and (max-width: 768px) {
  nav li {
    width: 100%; }
  nav ul#episode-list {
    flex-direction: column;
    margin: 20px; } }

/* audio player */
.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60%; }

.player {
  position: relative;
  width: 100%;
  background-color: #001030;
  color: #DDDDDD;
  display: flex;
  border-radius: 2px;
  padding: 5 16px; }
  .player img {
    height: 132px; }
  .player .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 50%;
    padding: 0 16px;
    font-family: 'Poppins', sans-serif; }
    .player .info .name {
      font-size: 15px;
      font-weight: 700; }
  .player .btns {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 100px;
    cursor: pointer; }
  .player .btns a {
    color: inherit; }
  .player .progress {
    position: absolute;
    height: 2px;
    left: 0;
    top: 0;
    background-color: #00a8ff; }

@media only screen and (max-width: 768px) {
  .player {
    flex-direction: column;
    margin: 20px;
    width: unset; }
    .player img {
      height: unset; }
  .btns {
    width: 100%; } }

/* map */
.map {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  position: relative;
  pointer-events: none; }

.map h1 {
  margin: 10px 20%; }

.map-pane {
  width: 100%;
  height: 90%; }

.map-overlay-container {
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1; }

.map-overlay {
  font: 1em 'PT Serif', serif;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.map-overlay h2,
.map-overlay p {
  margin: 0 0 10px; }

/* footer */
footer {
  height: 200px;
  background: #001030;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #DDDDDD;
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.6em;
  border-top: #962E47 solid 2px;
  text-align: center; }
  footer a {
    color: inherit;
    text-decoration: none; }
  footer a :hover {
    text-decoration: underline; }

footer ul.sharing,
footer ul.logos {
  list-style-type: none;
  font-size: 1.6em;
  display: flex;
  padding: 0px;
  justify-content: center; }

footer ul.sharing li {
  display: block;
  margin-left: 7px;
  width: 20px; }

footer ul.sharing li:first-child {
  display: block;
  margin-left: 0px;
  width: 20px; }

footer a img.logo {
  width: 60px;
  height: 60px; }

footer ul.logos li:first-child {
  margin-right: 60px; }

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: unset; } }

/* mail subscribe */
#mc_embed_signup {
  clear: left;
  font-family: 'PT Sans', sans-serif;
  color: inherit; }
  #mc_embed_signup p {
    margin-bottom: 5px; }
  #mc_embed_signup input {
    background-color: #001030;
    color: inherit;
    font-size: inherit;
    border: 1px solid #DDDDDD; }
  #mc_embed_signup .mc-field-group {
    margin-bottom: 5px; }

#mce-success-response, #mce-error-response {
  display: none; }
